@import "variable";

body {
  main {
    > div {
      padding: 0px 36px 0px 78px;
    }
  }

  .disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  .sideBar {
    width: 78px;
    background-color: $gray192;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    height: 100%;
    box-sizing: border-box;
    z-index: 999;
  }

  .appImageWrapper {
    margin-left: 30px;
    position: relative;
    img {
      position: absolute;
      left: -38px;
      top: 0px;
    }
  }

  .appFilter {
    position: relative;
    .appFilterWrapper {
      position: absolute;
      z-index: 999999;
      left: 0px;
      top: 42px;
      min-width: 240px;

      background-color: $white;
      border-radius: 7px;
      border: 1px solid $borderColor;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16),
        0px 2px 16px rgba(0, 0, 0, 0.24);
      padding: 12px;

      .requestRange {
        padding-bottom: 8px;
        .rc-slider-handle {
          background-color: $blue136;
          border-color: $blue136;
        }
        .rc-slider-track {
          background-color: $blue136;
        }
      }
      .header {
        padding-bottom: 12px;
        p {
          font-weight: $regularFont;
          font-size: 15px;
          padding-bottom: 12px;
        }
      }

      .filterList {
        padding-bottom: 12px;
        ul {
          li {
            width: 100%;
          }
        }
        .filterItem {
          cursor: pointer;
          padding: 6px 8px;
          display: block;

          &.active {
            color: $blue136;
          }

          &:hover {
            background: $whiteF9 0% 0% no-repeat padding-box;
          }
        }
      }
      .btnGroupWrapper {
        ul {
          display: flex;
          justify-content: space-between;

          li {
            padding-bottom: 0px !important;
          }
        }
        button {
          padding: 6px 8px;
          font-size: 14px;
          border-radius: 8px;
        }
      }
    }
  }

  .noDataWrapper {
    padding: 102px 0;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: $whiteF9;
    .noData {
      display: flex;
      align-items: center;
      justify-content: center;

      .dataList {
        padding-left: 24px;
      }

      p {
        padding-top: 16px;
      }
    }
  }
}
