@use "variable";

@media (min-width: 1280px) {
  body {
  }
}

@media (min-width: 1350px) {
  body {
  }
}

@media (min-width: 1700px) {
  body {
  }
}
@media (min-width: 2000px) {
  body {
  }
}

@media (min-width: 2800px) {
  body {
  }
}
