@import "variable";

@media (min-width: 0px) and (max-width: 599px) {
  body {
    .appImageWrapper {
      position: relative;
      margin-left: 0px;
      img {
        display: none;
      }
    }
  }
}
